<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<div class="container">
    <div class="frame">
        <div class="nav">
            <li class="signin-active">
                <a class="btn">
                    Forgot Password
                </a>
            </li>
        </div>
        <div ng-app ng-init="checked = false">
            <form id="sendotp" action="/user/checkemail" method="post">
                <input class="form-styling" type="email" name="email" placeholder="Enter email">
                <div class="btn-animate">
                    <a href="#" onclick="document.getElementById('sendotp').submit()">Send Otp</a>
                </div>
            </form>
        </div>
    </div>
</div>