<link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/style.css">
<div class="container">
    <div class="frame">
        <div class="nav">
            <li class="signin-active"><a class="btn">Reset Password</a></li>
        </div>
        <div ng-app ng-init="checked = false">
    <form id="form-reset" action="/user/updatePassword/<%= user._id %>" method="POST">
    <input class="form-styling" type="password" name="password" placeholder="Enter New Password" required>
    <input class="form-styling" type="password" name="confirm_password" placeholder="Confirm password" required>
    <div class="btn-animate"> <a href="#" onclick="document.getElementById('form-reset').submit()">Reset Password</a></div>
</form>
</div>
</div>
</div>