<div class="tool-selector">
    <% if (locals.user){ %>
        <div>
            <a href="/user/resetpassword">Forgot Password</a>
        </div>
        <div>
            <a href="/user/signout">Sign Out </a>
        </div>
        <% } %>
</div>